<div>
    <h2 id="page-heading">
        <span>Fixed Asset Items</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fixed-asset-item" [routerLink]="['/fixed-asset-item/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Fixed Asset Item
            </span>
        </button>
    </h2>
    <gha-alert></gha-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span>ID</span></th>
                <th><span>Service Outlet Code</span></th>
                <th><span>Asset Category Id</span></th>
                <th><span>Fixed Asset Serial Code</span></th>
                <th><span>Fixed Asset Description</span></th>
                <th><span>Purchase Date</span></th>
                <th><span>Purchase Cost</span></th>
                <th><span>Purchase Transaction Id</span></th>
                <th><span>Ownership Document Id</span></th>
                <th><span>Asset Picture</span></th>
                <th><span>Maintenance</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fixedAssetItem of fixedAssetItems ;trackBy: trackId">
                <td><a [routerLink]="['/fixed-asset-item', fixedAssetItem.id, 'view' ]">{{fixedAssetItem.id}}</a></td>
                <td>{{fixedAssetItem.serviceOutletCode}}</td>
                <td>{{fixedAssetItem.assetCategoryId}}</td>
                <td>{{fixedAssetItem.fixedAssetSerialCode}}</td>
                <td>{{fixedAssetItem.fixedAssetDescription}}</td>
                <td>{{fixedAssetItem.purchaseDate | date:'mediumDate'}}</td>
                <td>{{fixedAssetItem.purchaseCost}}</td>
                <td>{{fixedAssetItem.purchaseTransactionId}}</td>
                <td>{{fixedAssetItem.ownershipDocumentId}}</td>
                <td>
                    <a *ngIf="fixedAssetItem.assetPicture" (click)="openFile(fixedAssetItem.assetPictureContentType, fixedAssetItem.assetPicture)">
                        <img [src]="'data:' + fixedAssetItem.assetPictureContentType + ';base64,' + fixedAssetItem.assetPicture" style="max-height: 30px;" alt="fixedAssetItem image"/>
                    </a>
                    <span *ngIf="fixedAssetItem.assetPicture">{{fixedAssetItem.assetPictureContentType}}, {{byteSize(fixedAssetItem.assetPicture)}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/fixed-asset-item', fixedAssetItem.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/fixed-asset-item', fixedAssetItem.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'fixed-asset-item', { outlets: { popup: fixedAssetItem.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
