<div *ghaHasAnyAuthority="'ROLE_USER'">
    <div class="card-body">
        <h5 class="card-title">Amortization Amount</h5>
        <h1 class="card-subtitle mb-2 text-muted"><span class="display-10">KE</span><span class="display-4" [countUp]="amortizationAmount" [options]="countUpOptions">10000</span><span
            class="display-10">m</span></h1>
        <p class="card-text">Amortization Amount for this month</p>
    </div>
    <div class="card-footer row">
        <a class="card-link" (click)="navigateThisMonth()">This Month</a>
        <a class="card-link" (click)="navigateToMonth()">Query Month</a>
    </div>
</div>
