<div>
    <h2 id="page-heading">
        <span>Scanned Documents</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-scanned-document" [routerLink]="['/scanned-document/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Scanned Document
            </span>
        </button>
    </h2>
    <gha-alert></gha-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="scannedDocuments?.length === 0">
        <span>No scannedDocuments found</span>
    </div>
    <div class="table-responsive" *ngIf="scannedDocuments?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span>Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="approvalDocument"><span>Approval Document</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="invoiceDocument"><span>Invoice Document</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lpoDocument"><span>Lpo Document</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="requisitionDocument"><span>Requisition Document</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="otherDocuments"><span>Other Documents</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let scannedDocument of scannedDocuments ;trackBy: trackId">
                <td><a [routerLink]="['/scanned-document', scannedDocument.id, 'view' ]">{{scannedDocument.id}}</a></td>
                <td>{{scannedDocument.description}}</td>
                <td>
                    <a *ngIf="scannedDocument.approvalDocument" (click)="openFile(scannedDocument.approvalDocumentContentType, scannedDocument.approvalDocument)">open</a>
                    <span *ngIf="scannedDocument.approvalDocument">{{scannedDocument.approvalDocumentContentType}}, {{byteSize(scannedDocument.approvalDocument)}}</span>
                </td>
                <td>
                    <a *ngIf="scannedDocument.invoiceDocument" (click)="openFile(scannedDocument.invoiceDocumentContentType, scannedDocument.invoiceDocument)">open</a>
                    <span *ngIf="scannedDocument.invoiceDocument">{{scannedDocument.invoiceDocumentContentType}}, {{byteSize(scannedDocument.invoiceDocument)}}</span>
                </td>
                <td>
                    <a *ngIf="scannedDocument.lpoDocument" (click)="openFile(scannedDocument.lpoDocumentContentType, scannedDocument.lpoDocument)">open</a>
                    <span *ngIf="scannedDocument.lpoDocument">{{scannedDocument.lpoDocumentContentType}}, {{byteSize(scannedDocument.lpoDocument)}}</span>
                </td>
                <td>
                    <a *ngIf="scannedDocument.requisitionDocument" (click)="openFile(scannedDocument.requisitionDocumentContentType, scannedDocument.requisitionDocument)">open</a>
                    <span *ngIf="scannedDocument.requisitionDocument">{{scannedDocument.requisitionDocumentContentType}}, {{byteSize(scannedDocument.requisitionDocument)}}</span>
                </td>
                <td>
                    <a *ngIf="scannedDocument.otherDocuments" (click)="openFile(scannedDocument.otherDocumentsContentType, scannedDocument.otherDocuments)">open</a>
                    <span *ngIf="scannedDocument.otherDocuments">{{scannedDocument.otherDocumentsContentType}}, {{byteSize(scannedDocument.otherDocuments)}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/scanned-document', scannedDocument.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/scanned-document', scannedDocument.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'scanned-document', { outlets: { popup: scannedDocument.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="scannedDocuments?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
