<li *ghaHasAnyAuthority="'ROLE_USER'" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
        <span>
            <fa-icon icon="wrench"></fa-icon>
            <span>
                Maintenance
            </span>
        </span>
    </a>
    <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
        <li>
            <a class="dropdown-item" routerLink="fixed-asset-assessment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                <span>Fixed Asset Assessment</span>
            </a>
        </li>
        <li>
            <a class="dropdown-item" routerLink="dealer" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                <span>Dealer</span>
            </a>
        </li>
        <li>
            <a class="dropdown-item" routerLink="service-outlet" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                <span>Service Outlet</span>
            </a>
        </li>
        <li>
            <a class="dropdown-item" routerLink="fixed-asset-category" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                <span>Fixed Asset Category</span>
            </a>
        </li>
        <li>
            <a class="dropdown-item" routerLink="depreciation-regime" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                <span>Depreciation Regime</span>
            </a>
        </li>
        <li>
            <a class="dropdown-item" routerLink="file-type" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                <span>File Type</span>
            </a>
        </li>
    </ul>
</li>
