<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="gha-fixed-asset-invoice-heading">Create or edit a Fixed Asset Invoice</h2>
            <div>
                <gha-alert-error></gha-alert-error>
                <div class="form-group" [hidden]="!fixedAssetInvoice.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_invoiceReference">Invoice Reference</label>
                    <input type="text" class="form-control" name="invoiceReference" id="field_invoiceReference"
                           formControlName="invoiceReference"/>
                    <div *ngIf="editForm.get('invoiceReference').invalid && (editForm.get('invoiceReference').dirty || editForm.get('invoiceReference').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('invoiceReference').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_invoiceDate">Invoice Date</label>
                    <div class="input-group">
                        <input id="field_invoiceDate" type="text" class="form-control" name="invoiceDate" ngbDatepicker  #invoiceDateDp="ngbDatepicker" formControlName="invoiceDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="invoiceDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_invoiceAmount">Invoice Amount</label>
                    <input type="number" class="form-control" name="invoiceAmount" id="field_invoiceAmount"
                           formControlName="invoiceAmount"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_isProforma">Is Proforma</label>
                    <input type="checkbox" class="form-control" name="isProforma" id="field_isProforma"
                           formControlName="isProforma"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_isCreditNote">Is Credit Note</label>
                    <input type="checkbox" class="form-control" name="isCreditNote" id="field_isCreditNote"
                           formControlName="isCreditNote"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_attachments">Attachments</label>
                    <div>
                        <div *ngIf="editForm.get('attachments').value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('attachmentsContentType').value, editForm.get('attachments').value)">open</a><br>
                            <span class="pull-left">{{editForm.get('attachmentsContentType').value}}, {{byteSize(editForm.get('attachments').value)}}</span>
                            <button type="button" (click)="editForm.patchValue({attachments: null});editForm.patchValue({attachmentsContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_attachments" (change)="setFileData($event, 'attachments', false)"/>
                    </div>
                    <input type="hidden" class="form-control" name="attachments" id="field_attachments"
                           formControlName="attachments"/>
                    <input type="hidden" class="form-control" name="attachmentsContentType" id="field_attachmentsContentType"
                           formControlName="attachmentsContentType" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
