<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="assetTransaction">
            <h2><span>Asset Transaction</span> {{assetTransaction.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Transaction Reference</span></dt>
                <dd>
                    <span>{{assetTransaction.transactionReference}}</span>
                </dd>
                <dt><span>Transaction Date</span></dt>
                <dd>
                    <span>{{assetTransaction.transactionDate}}</span>
                </dd>
                <dt><span>Scanned Document Id</span></dt>
                <dd>
                    <span>{{assetTransaction.scannedDocumentId}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/asset-transaction', assetTransaction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
